.pagination > li > a
{
    background-color: white;
    color: #000000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #4c4c4b;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #000000 !Important;
    border: solid 1px #000000 !Important;
}

.pagination > .active > a:hover
{
    background-color: #000000 !Important;
    border: solid 1px #000000;
}

.bg-transp{
    background-color:transparent!important;
    border: none!important;
}

.bg-blue-3{
    background-color: #005267!important;
}

.bg-blue-2{
    background-color: #007c9b!important;
}

.bg-blue-1{
    background-color: #00c7fa!important;
}


.bg-grey-3{
    background-color: #000000!important;
}

.bg-grey-2{
    background-color: #404952!important;
}

.bg-grey-1{
    background-color: #58647a!important;
}


.bg-green-3{
    background-color: #94ab3f!important;
}

.bg-green-2{
    background-color: #c3d364!important;
}

.bg-green-1{
    background-color: #d6e482!important;
}


.bg-white-3{
    background-color: #aab1bb!important;
}

.bg-white-2{
    background-color: #e5e5e5!important;
}

.bg-white-1{
    background-color: #f5f6f8!important;
}


.cl-blue-3{
    color: #005267!important;
}

.cl-blue-2{
    color: #007c9b!important;
}

.cl-blue-1{
    color: #00c7fa!important;
}


.cl-grey-3{
    color: #000000!important;
}

.cl-grey-2{
    color: #404952!important;
}

.cl-grey-1{
    color: #58647a!important;
}


.cl-green-3{
    color: #94ab3f!important;
}

.cl-green-2{
    color: #c3d364!important;
}

.cl-green-1{
    color: #d6e482!important;
}


.cl-white-3{
    color: #aab1bb!important;
}

.cl-white-2{
    color: #e5e5e5!important;
}

.cl-white-1{
    color: #f5f6f8!important;
}