{% extends 'backend/base/main_base.html' %}
{% comment %} {% load widget_tweaks %} {% endcomment %}

{% block title %} BERITA {% endblock %}
{% block stylesheets %}{% endblock %}
{% block main_content %}


<div class="container">


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Daftar Berita</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>
        <a href="{% url 'artic:post-create' %}" class="btn btn-sm btn-dark">Tambah Data</a>
      </h3>

      {% comment %} <form method="get">
        <div class="row mb-2">
          <div class="col-md-8 align-items-center">
            <div class="position-relative"><input class="form-control search" name="search"
                placeholder="Search by Kode, Kategori, Deskripsi..."> </div>
          </div>
          <div class="col-md-2 align-items-center">
            <button type="submit" class="btn btn-dark form-control">
              <span data-feather="search"></span> Search
            </button>
          </div>
        </div>
      </form> {% endcomment %}
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
        <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6">
                  <h6>Daftar  Berita </h6>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table mb-0 table-hover">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">Title</th>
                      <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">Slug</th>
                      <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">CONTENT</th>
                      <th class="text-uppercase text-secondary  font-weight-bolder opacity-7">
                        Author
                      </th>
                      <th class="text-uppercase text-secondary  font-weight-bolder opacity-7"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for field in objects %}
                    <tr>
                      <td>
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column ">
                            <h6 class="mb-0 text-sm"> 
                                {{ field.title }} 
                                {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.title }} </a> {% endcomment %}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column ">
                            <h6 class="mb-0 text-sm"> 
                                {{ field.article_slug }} 
                                {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.user.last_name }} </a> {% endcomment %}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-sm text-break" style="width: 25rem;">
                        <div class="text-xs small font-weight-bold text-break">
                            {{ field.content | truncatechars:150 }} 
                          {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}">
                            {{ field.user.username }}
                          </a> {% endcomment %}
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <span class="text-xs font-weight-bold">
                            {{ field.author }} 
                          {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.user.email }} </a> {% endcomment %}
                        </span>
                      </td>
                      <td class="align-middle">
                        <a type="button" href="{% url 'artic:article_update' field.series.slug field.article_slug%}" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                        {% if field.user.is_superuser %}
                        {% else %}
                        <button type="button" data-bs-toggle="modal" data-bs-target="#hapus-{{field.id}}"
                          class="btn btn-sm btn-danger" ><i class="bi bi-eraser-fill"> </i></button>
                        {% endif %}
                      </td>
    
                      <div class="modal fade" tabindex="-1" id="hapus-{{field.id}}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Apakah anda ingin menghapus?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p><strong> {{ field.title }} </strong></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                              <a href="{% url 'artic:article_delete'  field.series.slug field.article_slug %}" class="btn btn-danger">Hapus</a>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </tr>
    
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>


{% endblock %}