{% extends 'backend/base/main_base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %} KATEGORI BERITA {% endblock %}

{% block main_content %}
<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Kategori Berita</h3>
        <div class="btn-toolbar mb-2 mb-md-0">

          <h3>
            <a href="{% url 'artic:series-create' %}" class="btn btn-sm btn-dark">Tambah Data</a>
          </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }} </div>
            {% else %}
            <div class="alert alert-danger">{{ message }} </div>
            {% endif %}
            {% endfor %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {{ form.as_p }}
                </div>
                
                <div class="row mb-1">
                    {% if form.instance.image %}
                    <img src="{{ form.instance.image.url}}" class="img-fluid w-100">
                    {% else %}
                    <img src="/static/images/team/default-profile-picture.png" class="img-fluid w-100">
                    {% endif %}
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-grid gap-1 d-md-flex justify-content-md-start">
                            <button type="submit" class="btn btn-default bg-green-2 border-0 ">Simpan</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <h6>Daftar Kategori Berita </h6>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive">
                    <table class="table mb-0 table-hover">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">Title</th>
                          <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">Subtitle</th>
                          <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2">Slug</th>
                          <th class="text-uppercase text-secondary  font-weight-bolder opacity-7">
                            Author
                          </th>
                          <th class="text-uppercase text-secondary  font-weight-bolder opacity-7"> </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for field in allobjects %}
                        <tr>
                          <td>
                            <div class="d-flex py-1">
                              <div class="d-flex flex-column ">
                                <h6 class="mb-0 text-sm"> 
                                    {{ field.title }} 
                                    {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.title }} </a> {% endcomment %}
                                </h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex py-1">
                              <div class="d-flex flex-column ">
                                <h6 class="mb-0 text-sm"> 
                                    {{ field.subtitle }} 
                                    {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.user.last_name }} </a> {% endcomment %}
                                </h6>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle text-sm" >
                            <span class="text-xs small font-weight-bold text-break ">
                                {{ field.slug }} 
                              {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}">
                                {{ field.user.username }}
                              </a> {% endcomment %}
                            </span>
                          </td>
                          <td class="align-middle text-sm">
                            <span class="text-xs font-weight-bold">
                                {{ field.author }} 
                              {% comment %} <a class="text-decoration-none text-dark"  href="{% url 'userprofile:update_userp' field.id %}"> {{ field.user.email }} </a> {% endcomment %}
                            </span>
                          </td>
                          <td class="align-middle">
                            <a type="button" href="{% url 'artic:series_update' field.slug%}" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                            {% if field.user.is_superuser %}
                            {% else %}
                            <button type="button" data-bs-toggle="modal" data-bs-target="#hapus-{{field.slug}}"
                              class="btn btn-sm btn-danger" ><i class="bi bi-eraser-fill"> </i></button>
                            {% endif %}
                          </td>
        
                          <div class="modal fade" tabindex="-1" id="hapus-{{field.slug}}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Apakah anda ingin menghapus?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <p><strong> {{ field.title }}  </strong></p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                                  <a href="{% url 'artic:series_delete' field.slug %}" class="btn btn-danger">Hapus</a>
                                </div>
                              </div>
                            </div>
                          </div>
        
                        </tr>
        
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock main_content %}