
{% load static %}
{% load widget_tweaks %}
<div class="card p-3 mb-2 rounded-0 rounded-bottom" >
    <h3 class="text-center"> Dokumen Organisasi</h3>
    <div class="card-body row ">
        <div class="col-lg-12  col-sm-12 mb-2 form-group">
            <div class="row">
                <div class="col-lg-12  col-sm-12 text-left py-6">
                    <label>{{ form.doc_ketuakop.label }}</label>

                    {% if form.instance.doc_ketuakop %}
                    <span class="text-xs font-weight-bold">
                        <a class="btn btn-sm btn-success" type="button" data-bs-toggle="tooltip" data-bs-title="Download File"  href="{{form.instance.doc_ketuakop.url}}" download>
                            <i class="bi bi-download"></i>
                        </a> 
                    </span> 
                    {% endif %}

                    {% if form.is_bound %}
                    {% if form.doc_ketuakop.errors %}
                    {% render_field form.doc_ketuakop class="form-control is-invalid" %}
                    {% else %}
                    {% render_field form.doc_ketuakop class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field form.doc_ketuakop class="form-control" %}
                    {% endif %}
                    {% for error in form.doc_ketuakop.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="col-lg-12  col-sm-12 text-left py-6">
                    <label>{{ form.doc_sekrekop.label }}</label>

                    {% if form.instance.doc_sekrekop %}
                    <span class="text-xs font-weight-bold">
                        <a class="btn btn-sm btn-success" type="button" data-bs-toggle="tooltip" data-bs-title="Download File"  href="{{form.instance.doc_sekrekop.url}}" download>
                            <i class="bi bi-download"></i>
                        </a> 
                    </span> 
                    {% endif %}

                    {% if form.is_bound %}
                        {% if form.doc_sekrekop.errors %}
                            {% render_field form.doc_sekrekop class="form-control is-invalid" rows="8" %}
                        {% else %}
                            {% render_field form.doc_sekrekop class="form-control is-valid" rows="8" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.doc_sekrekop class="form-control" rows="8" %}
                    {% endif %}
                    {% for error in form.doc_sekrekop.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="col-lg-12  col-sm-12 text-left py-6">
                    <label>{{ form.doc_bendakop.label }}</label>

                    {% if form.instance.doc_bendakop %}
                    <span class="text-xs font-weight-bold">
                        <a class="btn btn-sm btn-success" type="button" data-bs-toggle="tooltip" data-bs-title="Download File"  href="{{form.instance.doc_bendakop.url}}" download>
                            <i class="bi bi-download"></i>
                        </a> 
                    </span> 
                    {% endif %}

                    {% if form.is_bound %}
                        {% if form.doc_bendakop.errors %}
                            {% render_field form.doc_bendakop class="form-control is-invalid" %}
                        {% else %}
                            {% render_field form.doc_bendakop class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.doc_bendakop class="form-control" %}
                    {% endif %}
                    {% for error in form.doc_bendakop.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="col-lg-12  col-sm-12 text-left py-6">
                    <label>{{ form.doc_pnglakop.label }}</label>

                    {% if form.instance.doc_pnglakop %}
                    <span class="text-xs font-weight-bold">
                        <a class="btn btn-sm btn-success" type="button" data-bs-toggle="tooltip" data-bs-title="Download File"  href="{{form.instance.doc_pnglakop.url}}" download>
                            <i class="bi bi-download"></i>
                        </a> 
                    </span> 
                    {% endif %}

                    {% if form.is_bound %}
                        {% if form.doc_pnglakop.errors %}
                            {% render_field form.doc_pnglakop class="form-control is-invalid" %}
                        {% else %}
                            {% render_field form.doc_pnglakop class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.doc_pnglakop class="form-control" %}
                    {% endif %}
                    {% for error in form.doc_pnglakop.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="col-lg-12  col-sm-12 text-left py-6">
                    <label>{{ form.doc_pngwskop.label }}</label>

                    {% if form.instance.doc_pngwskop %}
                    <span class="text-xs font-weight-bold">
                        <a class="btn btn-sm btn-success" type="button" data-bs-toggle="tooltip" data-bs-title="Download File"  href="{{form.instance.doc_pngwskop.url}}" download>
                            <i class="bi bi-download"></i>
                        </a> 
                    </span> 
                    {% endif %}

                    {% if form.is_bound %}
                        {% if form.doc_pngwskop.errors %}
                            {% render_field form.doc_pngwskop class="form-control is-invalid" %}
                        {% else %}
                            {% render_field form.doc_pngwskop class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.doc_pngwskop class="form-control" %}
                    {% endif %}
                    {% for error in form.doc_pngwskop.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                
                
            </div>

        </div>
    </div>

</div>


{% block javascripts %}
{% endblock %}