
{% extends 'backend/base/main_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Data UMKM {% endblock %}
{% block main_content %}

<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 >Data UMKM</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
         
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">

            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }} </div>
            {% else %}
            <div class="alert alert-danger">{{ message }} </div>
            {% endif %}
            {% endfor %}

            <form action="{% url 'umkmdat:add_umkm' %}" method="post" enctype="multipart/form-data">
                {% comment %} /* pengamanan data form {% endcomment %}
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}

                <div class="col-lg-4  col-sm-12 text-left py-6 mb-2">
                    <label>{{ form.dt_user.label }}</label>
                    {% if form.is_bound %}
                        {% if form.dt_user.errors %}
                            {% render_field form.dt_user class="form-control is-invalid" %}
                        {% else %}
                            {% render_field form.dt_user class="form-control is-valid"  %}
                        {% endif %}
                    {% else %}
                        {% render_field form.dt_user class="form-control"  %}
                    {% endif %}
                    {% for error in form.dt_user.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                {% include "part/pu_umkm.html" %}
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      {% comment %} <button class="nav-link " id="nav-pu_umkm-tab" data-bs-toggle="tab" data-bs-target="#nav-pu_umkm" type="button" role="tab" aria-controls="nav-pu_umkm" aria-selected="false">PEMILIK USAHA</button> {% endcomment %}
                      <button class="nav-link active" id="nav-du_umkm-tab" data-bs-toggle="tab" data-bs-target="#nav-du_umkm" type="button" role="tab" aria-controls="nav-du_umkm" aria-selected="true">DATA UMUM USAHA</button>
                      <button class="nav-link" id="nav-det_umkm-tab" data-bs-toggle="tab" data-bs-target="#nav-det_umkm" type="button" role="tab" aria-controls="nav-det_umkm" aria-selected="false">DATA DETAIL USAHA</button>
                      <button class="nav-link" id="nav-kpmlk_umkm-tab" data-bs-toggle="tab" data-bs-target="#nav-kpmlk_umkm" type="button" role="tab" aria-controls="nav-kpmlk_umkm" aria-selected="false" >KEPEMILIKAN USAHA</button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    {% comment %} <div class="tab-pane fade" id="nav-pu_umkm" role="tabpanel" aria-labelledby="nav-pu_umkm-tab" tabindex="0">
                    </div> {% endcomment %}
                    <div class="tab-pane fade show active" id="nav-du_umkm" role="tabpanel" aria-labelledby="nav-du_umkm-tab" tabindex="0">
                        {% include "part/du_umkm.html" %}
                    </div>
                    <div class="tab-pane fade" id="nav-det_umkm" role="tabpanel" aria-labelledby="nav-det_umkm-tab" tabindex="0">
                        {% include "part/det_umkm.html" %}
                    </div>
                    <div class="tab-pane fade " id="nav-kpmlk_umkm" role="tabpanel" aria-labelledby="nav-kpmlk_umkm-tab" tabindex="0">
                        {% include "part/kpmlk_umkm.html" %}
                    </div>
                  </div>

                <button class="btn btn-primary">Tambah</button>
                <a href="{% url 'umkmdat:master_umkm' %}" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% include "part/modal_list.html" %}

{% endblock %}

{% block javascripts %}
<script src="{% static 'js/mainjs/mapareaadmin.js' %}"></script>
<script src="{% static 'js/mainjs/jenprodumkm.js' %}"></script>
<script src="{% static 'js/mainjs/demprodumkm.js' %}"></script>
<script src="{% static 'js/mainjs/demsuppumkm.js' %}"></script>
<script src="{% static 'js/mainjs/pensuppumkm.js' %}"></script>
<script src="{% static 'js/mainjs/tngkrjumkm.js' %}"></script>
<script src="{% static 'js/mainjs/perijinumkm.js' %}"></script>
<script src="{% static 'js/mainjs/energiumkm.js' %}"></script>
<script src="{% static 'js/mainjs/bhbakuumkm.js' %}"></script>
<script src="{% static 'js/mainjs/msndataumkm.js' %}"></script>
<script src="{% static 'js/mainjs/detfasilumkm.js' %}"></script>
<script src="{% static 'js/mainjs/detpelatumkm.js' %}"></script>

<script>

get_klhg();
get_klkr();
get_hgkr();

function get_klhg(){
    var val = document.querySelector("input[type='radio'][name=kltshargaradio]:checked").value;
    data   = document.getElementById("id_dtu_kltsharga")
    data.value = val;
}

function get_klkr(){
    var val = document.querySelector("input[type='radio'][name=kltskirimradio]:checked").value;
    data   = document.getElementById("id_dtu_kltskirim")
    data.value = val;
}

function get_hgkr(){
    var val = document.querySelector("input[type='radio'][name=hargakirimradio]:checked").value;
    data   = document.getElementById("id_dtu_hrgakirim")
    data.value = val;
}

</script>
{% endblock %}