
{% extends 'backend/base/main_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Keuangan {% endblock %}
{% block main_content %}

<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 >Data Keuangan</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
         
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">

            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }} </div>
            {% else %}
            <div class="alert alert-danger">{{ message }} </div>
            {% endif %}
            {% endfor %}

            <form action="{% url 'koper:add_keu_kop' tbkop.id %}" method="post" enctype="multipart/form-data">
                {% comment %} /* pengamanan data form {% endcomment %}
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active " id="nav-dokulap-tab" data-bs-toggle="tab" data-bs-target="#nav-dokulap"
                            type="button" role="tab" aria-controls="nav-dokulap" aria-selected="true">Dokumen Laporan</button>
                        <button class="nav-link" id="nav-lapaset-tab" data-bs-toggle="tab" data-bs-target="#nav-lapaset"
                            type="button" role="tab" aria-controls="nav-lapaset" aria-selected="false">Laporan Keuangan </button>
                        {% comment %} <button class="nav-link" id="nav-lapwajib-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-lapwajib" type="button" role="tab" aria-controls="nav-lapwajib"
                            aria-selected="false">Laporan Kewajiban</button>
                        <button class="nav-link" id="nav-lapoeku-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-lapoeku" type="button" role="tab" aria-controls="nav-lapoeku"
                            aria-selected="false">Laporan Ekuitas</button>
                        <button class="nav-link" id="nav-lapopen-tab" data-bs-toggle="tab" data-bs-target="#nav-lapopen"
                            type="button" role="tab" aria-controls="nav-lapopen" aria-selected="false">Laporan Pendapatan</button>
                        <button class="nav-link" id="nav-lapoya-tab" data-bs-toggle="tab" data-bs-target="#nav-lapoya"
                            type="button" role="tab" aria-controls="nav-lapoya" aria-selected="false">Laporan Biaya</button> {% endcomment %}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-dokulap" role="tabpanel" aria-labelledby="nav-dokulap-tab"
                        tabindex="0">
                        {% include "part/kop_dokulap.html" %}
                    </div>
                    <div class="tab-pane fade" id="nav-lapaset" role="tabpanel" aria-labelledby="nav-lapaset-tab"
                        tabindex="0">
                        {% include "part/kop_lapaset.html" %}
                    </div>
                </div> 


                <button class="btn btn-primary">Tambah</button>
                <a href="{% url 'koper:upd_kop' tbkop.id %}" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}