{% extends 'frontend/base/front_base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Homepage {% endblock %}

{% block stylesheet %}{% endblock  %}
{% block javascripts_head %}{% endblock  %}



{% block front_content %} 

{% comment %} 
<div class="container-fluid px-0 ">
  
   <div id="headline" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">

         {% for field in headline %}
            <div class="carousel-item active">
               <img src="{{ field.image.url }}" class="img-fluid bghome" alt="image desc" width="100%" height="100%"
                  data-stellar-ratio="0.1">
               <div class="overlay "></div>
               <div class="container">
                  <div class="carousel-caption ">
                     <h1>{{ field.title }}</h1>
                     <p>{{ field.subtitle }}</p>
                     <p><a class="btn btn-sm btn-success" href="/{{ field.series.slug }}/{{ field.article_slug }}">Tampilkan</a></p>
                  </div>
               </div>
            </div>
         {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#headline" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#headline" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
   </div>
</div> {% endcomment %}


<!-- Map Section End -->

{% include "part/mapsection.html" %}
<!-- Map Section End -->


<!-- Services Section End -->
<section class="services-section spad informasi">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title">
               <span>Informasi</span>
               <h2>Perkembangan Koperasi dan UMKM Kota Batu</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-036-parking"></i>
               <h6>10 UMKM Dengan INVESTASI TINGGI </h6>

               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="barAsetChart"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-036-parking"></i>
               <h6>10 UMKM Dengan OMZET TINGGI </h6>

               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="barOmzetChart"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-036-parking"></i>
               <h6>UMKM : SKALA</h6>

               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="pieSkala"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-036-parking"></i>
               <h6>OMZET KUMULATIF</h6>
               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="myAreaChart"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-044-clock-1"></i>
               <h6>PERMINTAAN PRODUK UMKM</h6>
               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="myAreaChart2"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-044-clock-1"></i>
               <h6>BULLWHIP EFECT KUMKM</h6>
               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="myBarChart2"> </canvas>
                  </div>
               </div>
            </div>
         </div>
         {% comment %} <div class="col-lg-4 col-sm-6">
            <div class="service-item">
               <i class="flaticon-044-clock-1"></i>
               <h6>BULLWHIP EFECT KUMKM</h6>
               <div class="card border-0">
                  <div class="card-body">
                     <canvas id="myPieChart2"> </canvas>
                  </div>
               </div>
            </div>
         </div> {% endcomment %}
      </div>
   </div>
</section>
<!-- Services Section End -->

<!-- Video Section End -->

<!-- Edukasi Section Begin -->
<section class="blog-section spad edukasi ">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title">
               <span>Edukasi</span>
               <h2 class="">Tahukan Kamu Fakta Menarik <br> Koperasi dan UMKM di Kota Batu ?</h2>
            </div>
         </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         

         {% for field in edukasi %}
            <div class="col">
               <div class="card shadow-md text-center border-0">
                  <a class="text-decoration-none text-dark" href=" {% url 'home:single_fakta' field.series.slug field.article_slug %}">
                     <div class="card-body">
                        <img src="{{ field.image.url }}" class="img-fluid align-center mb-3 mt-3" alt="image desc"
                           width="75%" height="75%">

                        <h5 class="card-title">{{ field.title }}</h5>
                        <p class="card-text" style="clear:both">{{ field.content | striptags | truncatechars:150 }}</p>
                     </div>
                  </a>
               </div>
            </div>
         {% endfor %}


      </div>
   </div>
</section>
<!-- Edukasi Section End -->

<!-- Berita Section Begin -->
<section class="blog-section spad berita pb-2">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title text-white">
               <span>Berita Terkini</span>
               <h2 class=" text-white">Warta Koperasi dan UMKM Terkini</h2>
            </div>
         </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-4">

         {% for field in article %}
            <div class="col">
               <div class="card shadow-md border-0">
                  <img src="{{ field.image.url }}" class="img-fluid" alt="image desc" width="100%" height="225">

                  <div class="card-body">
                     <h5 class="card-title">{{ field.title }}</h5>
                     <p class="card-text">{{ field.content | striptags | truncatechars:150  }}</p>
                     <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                           <a type="button" href=" {% url 'home:single_berita' field.series.slug field.article_slug %} " class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                        <small class="text-muted">{{ field.published | date | striptags  }}</p></small>
                     </div>
                  </div>
               </div>
            </div>
         {% endfor %}


      </div>
   </div>
</section>
<!-- Berita Section End -->


<section class="pb-4 bg-blue-3  ">
   <div class="container">
   <div class="row">
      <div class="col-lg-12">
         <div class="section-title text-white">
            <span class=" text-white">Kolaborasi</span>
         </div>
      </div>
   </div>
      <div class="row align-items-center  bg-white shadow p-3 text-center rounded-4 g-1">
         <div class="col-4">
            <img src="/static/images/partner/logo-plut.png" class="img-fluid align-center" style="max-height:100px">
         </div>
         <div class="col-4">
            <img src="/static/images/partner/logo-ub.png" class="img-fluid align-center" style="max-height:95px">
         </div>
         <div class="col-4">
            <img src="/static/images/partner/kedaireka.png" class="img-fluid align-center" style="max-height:100px">
         </div>
      </div>

   </div>
</section>



<div class="modal modal-xl fade" id="modalGraphOmz" tabindex="-1" aria-labelledby="modalGraphOmzLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="modalGraphOmzLabel">New message</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body" id="graphContentOmz">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
<div class="modal modal-xl fade" id="modalGraphAst" tabindex="-1" aria-labelledby="modalGraphAstLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="modalGraphAstLabel">New message</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body" id="graphContentAst">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
<div class="modal modal-xl fade" id="modalGraphSkl" tabindex="-1" aria-labelledby="modalGraphSklLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="modalGraphSklLabel">New message</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body" id="graphContentSkl">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

{% endblock  %}



{% block javascripts %}

<script src="{% static 'js/mainjs/mappingarea.js' %}"></script>
<script src="{% static 'vendor/chartjs/graphjs/frontgraphs.js' %}"></script>
{% comment %} <script src="{% static 'vendor/chartjs/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'vendor/chartjs/demo/chart-bar-demo.js' %}"></script>
<script src="{% static 'vendor/chartjs/demo/chart-pie-demo.js' %}"></script> {% endcomment %}

<script>
   function getDate(elem,val=0) {
      var today = new Date() ;
      var dd = today.getDate() + val;
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();
      if(dd<10){
            dd='0'+dd
         } 
         if(mm<10){
            mm='0'+mm
         } 

      today = yyyy+'-'+mm+'-'+dd;
      document.getElementById(elem).value =today;
      document.getElementById(elem).setAttribute("min", today);
    
       //$(elem).val( today);
   }
   {% comment %} getDate("checkin_date");
   getDate("checkout_date",1); {% endcomment %}

   function getDateChange(val=0) {
      if (val == 0){
         var today = new Date(document.getElementById("checkin_date").value) ;
         var coday = new Date(document.getElementById("checkout_date").value) ;
         
         if(formdate(today) >= formdate(coday)){
            document.getElementById("checkout_date").value = formdate(today,1);
            document.getElementById("checkout_date").setAttribute("min", formdate(today));
         } else {
            document.getElementById("checkout_date").setAttribute("min", formdate(today,1));
         }
      }
   }
    
   function formdate(dt, val=0){

      dt.setDate(dt.getDate() + val);
      var dd = dt.getDate() ;
   
      var mm = dt.getMonth() + 1; //January is 0!
      var yyyy = dt.getFullYear();
      if(dd<10){
            dd='0'+dd
         } 
         if(mm<10){
            mm='0'+mm
         } 

      dt = yyyy+'-'+mm+'-'+dd;
      return dt;
   }
   
</script>

{% endblock %}