
{% if side_active == 'venture' %} 

<a href="{% url 'master:master_venture' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_ven' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-view-list fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Data Usaha</strong>
        <div class="small"> </div>
    </div>
</a>



<a href="{% url 'master:master_rulesett' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_sett' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-wrench-adjustable-circle fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Settings</strong>
        <div class="small"> </div>
    </div>
</a>

{% endif %}

{% if side_active == 'guest' or side_active == 'agent'  %} 

<a href="{% url 'master:master_guest' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_gue' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-person-lines-fill fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Data Tamu/Pelanggan</strong>
        <div class="small"> </div>
    </div>
</a>
<a href="{% url 'master:master_agent' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_age' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-person-badge-fill fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Data Agen</strong>
        <div class="small"> </div>
    </div>
</a>


{% endif %}


{% if side_active == 'items'  %} 

<a href="{% url 'items:master_itemscat' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_itcat' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-card-list fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Daftar Kategori</strong>
        <div class="small"> </div>
    </div>
</a>

<a href="{% url 'items:master_items' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_itdat' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-box-seam-fill fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Daftar Peralatan</strong>
        <div class="small"> </div>
    </div>
</a>

{% endif %}

{% if side_active == 'rooms'  %} 

<a href="{% url 'rooms:master_roomtypes' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_rtype' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-card-list fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Kategori Lahan</strong>
        <div class="small"> </div>
    </div>
</a>



<a href="{% url 'rooms:master_rooms' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_rdata' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-grid-1x2 fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Data Lahan</strong>
        <div class="small"> </div>
    </div>
</a>

{% endif %}



{% if side_active == 'packages'  %} 

<a href="{% url 'packages:master_packages' %}" class="list-group-item list-group-item-action d-flex flex-row flex-row-auto py-2 px-4 lh-sm {% if side_sub == 'sub_pdata' %} active{% endif %}"  aria-current="true">
    <div class="d-flex align-items-center justify-content-center"><i class="bi bi-grid-1x2 fs-2"></i></div>
    <div class="d-flex flex-column align-items-left justify-content-center mx-2">
        <strong>Daftar Paket </strong>
        <div class="small"> </div>
    </div>
</a>

{% endif %}